*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 100vw;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

h2 {
  color: #2baec5;
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}


/* ===================================
              HEADER
=================================== */

nav {
  display: flex;
  justify-content: space-around;
  background-color: #eaf0f1af;
  box-shadow: 0 2px 4px 0 #00000033;
  height: 80px;
}

.logo_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

i {
  color:#1595ac;
  font-size: 50px;
}

h1 {
  font-size: 1.7rem;
}

h1 > a {
  color: #2ba8be;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li > a {
  color: #2ba8be;
  font-weight: 700;
}

.menu_links {
  list-style: none;
  margin-left: 75px;
}

.menu_links:hover {
  border-bottom: 5px solid #2ba8be85;
  padding-bottom: 8px;
}

/* ===================================
                 MAIN
=================================== */

main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 10px 20px;
  min-height: calc(100vh - 80px - 150px);
}

ul.responsive-table {
  padding: 0;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.table-header {
  background-color: #86dae0b0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(80, 78, 78, 0.1);
}

.col {
  color: #2e587a;
}

.col-1 {
  flex-basis: 20%;
}

.col-2 {
  flex-basis: 35%;
}

.col-3 {
  flex-basis: 35%;
}

.col-4 {
  flex-basis: 15%;
}

button {
  display: block;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 0 auto;
  background-color: #9ee5f1;
  cursor: pointer;
  color: #2e587a;
  font-weight: 700;
}

button:hover {
  background-color: #4aced3;
  color: #ffffff;
  transition: .5s;
}


/* ===================================
                FOOTER
=================================== */

footer {
  display: flex;
  justify-content: space-around;
  align-content:space-around;
  background-color: #2ba8be85;
  color: white;
  padding: 30px 200px 15px;
  height: 150px;
}

footer h4 {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.menu-ul{
  text-align: center;
  line-height: 20px;
}

.menu-ul li{
  font-size: 0.9rem;
  list-style: none;
}

.menu-ul li a{
  color: white;
  text-decoration:none;
  text-transform: none;
}